.card-container {
  display: flex;
  flex-direction: column;
  padding: 1rem 0rem;
}

.card-container .card-pic-0 {
  width: 90px;
}
.card-container .card-pic-1 {
  width: 30px;
}

.education-item {
  display: flex;
  gap: 0.3rem;
  padding-bottom: 0.4rem;
}
.completion-year {
  list-style: none;
  display: flex;
  gap: 0.3rem;
  align-items: center;
}
.card-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 1rem;
}

.images-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
