.html-div{
    width:40%;
    display: flex;
    flex-direction: column;
    align-items: center;



}

.main-html-div{
    margin-top: 80px;
}


.html2-div {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.html2-2component{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;


    
}
.html-div
.profile-container
{
    display: block;
   
}

.main-html-div{
    display: flex;

}
       .AboutMe-Info{
            width: 80%;
    
          }

@media screen and (max-width:990px) {

    .main-html-div{
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    .html-div{
        background:rgba(177, 184, 176, 0.452);
        padding-bottom: 10px;
  
        width:100%;
        margin: 0 auto;
        display: flex;
    }
    .html2-div{
        justify-content: center;
        margin-top: 30px;
     
        width: 100%;
        gap: 30px;
    }
    
    .html-div .profile-container{
        display: none;
    }
 
    .html-div .navbar .container{
        display: block;
        display: flex;
        width: 100%;
        justify-content: space-between;
   
    }
     .html2-div .profile-container{
        display: block;
        

    }

    
} 
@media screen and (max-width:775px) {

    .html2-2component{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
    
    }

}
@media screen and (max-width:1132px) {




    .html2-2component{
       
        width: 90%;
        gap: 30px;
        
        
    }
}         

@media screen and (max-width:550px) {



    

    .html2-div{
        gap: 40px;
        margin-top: 0px;

        
    }
    .html2-2component{
       
        width: 98%;
        font-size: 16px;
        
        
    }
}         
@media screen and (max-width:1220px) {

    .html-div
    {
        padding-top: 20px;
  
    
       
    
    }





}
@media screen and (max-width:1400px) {

    .html2-2component
    {
  
       gap: 30px;
    
    }


}
@media screen and (min-width:1900px) {

    .html2-div {
align-items: center;   


}


}