
 img{
     height: 200px;

}
.main-slides{
    width: 100%; 
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;  
    text-align: center;
    border-radius: 8px;
    width: 90%;
    
}
.carousel-root{
    height: 230px;
}
.main-slides .carousel .carousel-status {
 
    text-shadow: 0px 0px 0px;
    color: rgb(11, 10, 112);
}

.thumbs{
    display: none;
}

.main-slides {
background-color: #d8d8d8;
}
.main-slides h1{
    font-size: 28px;
    font-weight: 500;
}
.main-slides .carousel-slider .control-dots {
    position: absolute;
    bottom: -10px;
}
.main-slides .carousel .control-dots .dot {

    background: #510909;

}


.main-slides .control-dots{
    display: block;
}
@media screen and (max-width:990px) {


.main-slides{
    width: 90%;
}

}
@media (max-width: 550px) {

 img {
    height: 110px;
}
.main-slides{
    width: 98%;
}
.carousel-root{
    height: 140px;
}
.main-slides h1{
    font-size: 24px;
}
}
