/* Updated CSS with improved class names */
.education-card-container {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  color: rgb(99, 99, 99);
}

.education-card-image-hame {
  width: 90px;
}

.education-card-image-yarmouk {
  width: 30px;
}

.education-gpa {
  font-size: 16px;
  margin-top: 5px;
  color: rgb(99, 99, 99);
  padding-bottom: 0.5rem;
  display: flex;
  justify-items: center;
  gap: 0.3rem;
}
.education-card-body p {
  cursor: pointer;
  padding: 0.5rem;
  margin-top: 0.6rem;
  font-weight: 600;
  width: fit-content;
  color: rgb(78, 78, 78);
  border-radius: 0.4rem;
  background-color: rgba(211, 211, 211, 0.627);
  font-size: 14px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.education-card-body p:hover {
  color: rgb(78, 78, 78);
  background-color: rgb(211, 211, 211);
}
.education-item {
  display: flex;
  gap: 0.3rem;
  padding-bottom: 0.4rem;
}

.education-completion-year {
  display: flex;
  gap: 0.3rem;
  align-items: center;
}

.education-card-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 1rem;
}

.education-images-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
