.work-experience-main {
  max-width: 100%;
  margin: 40px auto;
}

.section-label {
  font-size: 1.8rem;
  margin-bottom: 24px;
  text-align: center;
  font-weight: bold;
}

.timeline {
  position: relative;
  padding-left: 40px;
  margin-top: 20px;
}
.logo-name {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.timeline::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 18px;
  width: 4px;
  height: 100%;
  background: #ddd;
}

.company-logo {
  width: 60px;
  height: 50px;
  object-fit: contain;
}
.timeline-item {
  position: relative;
  padding-bottom: 3rem;
  font-size: 1.2rem;
}

.timeline-dot {
  position: absolute;
  top: 2px;
  left: -28px;
  width: 16px;
  height: 16px;
  background: #2c2c2c;
  border-radius: 50%;
}

.timeline-content {
  border-radius: 8px;
  padding: 0px 16px;
}

.item-header {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
  gap: 1rem;
}

.year {
  font-size: 1rem;
  color: #000000;
  font-weight: bold;
}

.item-body {
  font-size: 1rem;
  color: #555;
  line-height: 1.6;
}

.duration {
  font-style: italic;
  margin: 0 0 8px;
}

.description-line {
  margin: 8px 0;
}
@media (max-width: 500px) {
  .section-label {
    font-size: 1.5rem;
  }
  .timeline-content {
    padding: 0px 10px;
  }
  .timeline {
    position: relative;
    padding-left: 22px;
    margin-top: 20px;
  }
  .timeline::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 0px;
    width: 4px;
    height: 100%;
    background: #ddd;
  }
}
