.skills_main {
  text-align: center;
  max-width: 65rem;
}

.skills-main-page {
  font-size: 1em;
  margin-bottom: 20px;
}

.skills_cards_container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-evenly;
  padding: 0.7rem 0rem;
}

.skill_card {
  background-color: #f3f3f3;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px 10px;
  font-size: 1em;
  color: #333;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: fit-content;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease,
    background-color 0.3s ease;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.skill_card:hover {
  transform: scale(1.05);
  background-color: #b3b3b3;
  color: #fff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.skills_cards_container:hover .skill_card:not(:hover) {
  animation: subtleShake 0.4s ease infinite;
}

.skill_name {
  font-size: 1em;
}

.skill_card:hover .skill_name {
  color: #fff;
}

.skill_icon {
  font-size: 1.5em;
  transition: color 0.3s ease;
}

.skill_card:hover .skill_icon {
  color: #fff;
}

@keyframes subtleShake {
  0%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(1px);
  }
  50% {
    transform: translateX(-1px);
  }
  75% {
    transform: translateX(0.5px);
  }
}

@media (max-width: 1344px) {
  .skills_main {
    text-align: center;
    max-width: 32rem;
  }
}
@media (max-width: 1139px) {
  .skills_main {
    max-width: unset;
  }
}
