.about_main {
  display: flex;
  flex-direction: column;
  padding: 1rem 4rem;
}
.about_main p {
  color: rgb(99, 99, 99);
  letter-spacing: 0.3px;
}
.about_main h4 {
  font-size: 1rem;
  letter-spacing: 0.3px;
  margin: 0 auto;
  text-align: center;
  color: rgb(99, 99, 99);
  max-width: 65rem;
}
.about_main h1 {
  text-align: center;
  font-weight: bold;
}
.about_main label {
  font-weight: bold;
  font-size: 1.8rem;
}
.skills-main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 2rem;
}

@media (max-width: 1344px) {
}

@media (max-width: 667px) {
  .about_main {
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem;
  }
  .skills-main-page {
    flex-wrap: unset;
  }
}
@media (max-width: 480px) {
  .about_main {
    padding: 0.5rem 0.5rem;
  }
  .skills-main-page {
    align-items: unset;
  }
}
@media (max-width: 500px) {
  .about_main label {
    font-size: 1.5rem;
  }
}
