.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  max-width: 350px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease,
    border-color 0.3s ease;
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.card img {
  width: 100%;
  aspect-ratio: 1.4 / 1;
  object-fit: contain;
  object-position: center;
  border-radius: 8px;
  margin-bottom: 16px;
  display: block;

  background: #fff;
  image-rendering: auto;
}

.card h2 {
  font-size: 1.3em;
  margin: 0 0 10px;
  text-align: left;
}

.card p {
  font-size: 1em;
  color: #555;
  margin-bottom: 16px;
  text-align: left;
}

.card button {
  background-color: #6b6b6b;
  color: #fff;
  padding: 10px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease;
}

.card button:hover {
  background-color: #3d3d3d;
}
@media (max-width: 863px) {
  .card {
    max-width: 18rem;
  }
}
@media (max-width: 740px) {
  .card {
    max-width: 26rem;
  }
}

@media (max-width: 500px) {
  .card h2 {
    font-size: 1.3em;
  }
}
