.navbar {
  display: flex;
  background-color: #333333f6;
  padding: 1rem;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  justify-content: center;
}

.nav-list-large {
  display: flex;
  gap: 1.5rem;
}

.nav-item {
  list-style: none;
}

.nav-link {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #ddd;
}

.sidebar {
  display: none;
  background-color: #333;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  z-index: 100;
  transition: transform 0.3s ease;
  transform: translateX(-100%);
}

.sidebar.open {
  transform: translateX(0);
}
.sidebar.open .sidebae-icon {
  right: -0.5rem;
}
.sidebae-icon {
  display: flex;
  padding: 1rem;
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: -4rem;
  background-color: #333;
  border-radius: 50%;
}

.nav-list {
  list-style: none;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.nav-icon {
  display: none;
}
.icon-container {
  display: flex;
  align-items: center;
}

.nav-item-text {
  color: white;
  font-weight: bold;
  margin-left: 1rem;
}
.nav-link {
  position: relative;
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #ddd;
}

.nav-link.active {
  color: #ddd;
  font-weight: bold;
}

.nav-link.active::after,
.nav-link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #ddd;
  bottom: -4px;
  left: 0;
  transform: scaleX(0);
  transition: transform 0.3s ease;
  transform-origin: bottom right;
}

.nav-link.active::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@media screen and (max-width: 768px) {
  .navbar {
    display: none;
  }
  .nav-icon {
    display: block;
  }

  .sidebar {
    display: block;
  }
}
