

.center{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.pic_info{
  align-items: center;
  width: 100%;
  margin: 50px auto;
 
}

.center button {
    border-radius: 5px;

	cursor: pointer;
	font-size: 26px;
	font-weight: bold;
	background: white;
	border: 2px solid rgb(130, 182, 230);
	box-shadow: 5px 5px 0 rgb(80, 132, 190),
		-5px -5px 0 rgb(240, 104, 111),
		-5px 5px 0 rgb(80, 132, 190),
		5px -5px 0 rgb(240, 104, 111);
	transition: 500ms ease-in-out;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500
}

.center button:hover {
	box-shadow: 20px 5px 0 rgb(240, 104, 111), -20px -5px 0 rgb(80, 132, 190);
}


  .Header{
    margin: 0 auto;
  
  }
  
  h3{
    color: black;
  }
  .Header h1, p{
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 26px;
    font-weight: 500;
    
    
    
    }
    
    .Header p{
      font-size: 18px;
      font-family: Arial, Helvetica, sans-serif;
      color: #000;
      text-align: center;

      
    
    }  
    @media (max-width: 990px) {
      .AboutMe-Info{
       margin: 0 auto  ;       
      
      }
      @media screen and (max-width: 550px) {
        div.Header h1{
          font-size: 28px;
          font-weight: 500;

        }
        div.Header p{
          font-size: 22px;
          font-weight: 500;
        }
       
      }

    }
    @media screen and (min-width:1990px){
      .AboutMe-Info{
        width: 60%;

      }
        }
        @media screen and (min-width:990px){
          .AboutMe-Info{
            width: 58%;
    
          }

            }
    
            @media screen and (max-width:1024px){
              .pic_info{
                display: flex;
                flex-direction: column;
        
              }
              .AboutMe-Info{
                width: 80%;
        
              }
                }
                @media screen and (max-width:989px){
                  .AboutMe-Info{
                    width: 80%;
            
                  }
        
                    }
                  
                    @media screen and (max-width:550px){
                      .AboutMe-Info{
                        width: 94%;
                
                      }
  
            
                        }