input[type=checkbox]{
  height: 0;
  width: 0;
  visibility: hidden;
}

.toggle {
  cursor: pointer;
  text-indent: -9999px;
  width: 30px;
  height: 15px;
  background: rgb(187, 187, 187);
  display: block;
  border-radius: 100px;
  position: absolute;  
  bottom: 3px;
}



label:after {
  content: '';
  position: absolute;
  left: 0px;
  width: 15px;
  height: 15px;
  background: rgb(77, 103, 160);
  border-radius: 90px;
}


input:checked + label {
  background: #1616169c;
}

input:checked + label:after {
  left: calc(100% - 0px);
  transform: translateX(-100%);
  background-color: rgb(6, 122, 21);
}

.dark {

  background: linear-gradient(90deg, rgba(0,4,40,1) 0%, rgb(22, 95, 158) 100%);
  
}
:root body{
  margin: 0px 0px;
}
body{
  background: rgb(139,195,255);
background: linear-gradient(100deg, rgba(139,195,255,1) 0%, rgba(195,223,255,1) 21%, rgba(255,255,255,1) 72%);
}



.dark .contact_div .container{
  background-color: #1a3275;

}
.dark .contactinfo{
  background-color: rgba(216, 0, 0, 0.596);

}
  .dark .colz a{

    color: rgb(255, 255, 255);
    
  }
  .dark .rights p{
    color: white;
  }
  .dark .infocard ul a{
    color: white;
  }
  
 .dark .infocard li{
   color: white;
 }
 .dark .container_h h3{
   color: white;
 }
 .dark #contact button[type="submit"]{
   background-color: #368046;
   color: white;

 }
  
@media (max-width: 990px) {
  input:checked {
    display: none;
  }

    input:checked + label:after {
        left: calc(100% - 0px);
    }

 label.size::after{
   display: none;
 }
    input:checked + label {
      background: #000000ce;
    }
 
  
    .toggle{
      background: rgb(207, 207, 207);
    }
    .dark .nav-elements.active{
      background: linear-gradient(90deg, rgba(0,4,40,1) 0%, rgba(0,78,146,1) 100%);
  
    }

}
.dark hr{
  background-color: white;
  height: 3px;
}
.dark #verticle-line{
  background-color: white;
}
.dark #contact textarea {
  border-color: white;
}

.dark #contact input[type="text"],
.dark #contact input[type="email"],
.dark #contact textarea {
  background: #1a3275;
  ;
  color: white;
}
.dark ::placeholder{
  color: rgb(255, 255, 255);

}