input[type=checkbox]{
  height: 0;
  width: 0;
  visibility: hidden;
}

.toggle {
  cursor: pointer;
  text-indent: -9999px;
  width: 30px;
  height: 15px;
  background: grey;
  display: block;
  border-radius: 100px;
}
.darkmood{
    margin-top: 6.5px;
}


label:after {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 15px;
  height: 15px;
  background: #fff;
  border-radius: 90px;
}
.dark .nav-elements li::after {


    background-color: rgb(255, 255, 255);

  
  }
input:checked + label {
  background: #0094199c;
}

input:checked + label:after {
  left: calc(100% - 0px);
  transform: translateX(-100%);
}

.dark {
    background-image: url("./Pic/sky.jpg");

    background-size:fill;
    animation: backgroundAnimation 400s ease-out infinite;
  }
  
  .dark .main_div{
    background-image: url("./Pic/sky.jpg");


  }
  .dark .colz a{

    color: rgb(255, 255, 255);
    
  }
  .dark .rights p{
    color: white;
  }
  
 .dark .infocard a{
   color: white;
 }
 .dark .container_h h3{
   color: white;
 }
 .dark #contact button[type="submit"]{
   background-color: #3c8b4d;
   color: white;

 }
  
@media (max-width: 990px) {
  input:checked {
    display: none;
  }

    input:checked + label:after {
        left: calc(30% - 5px);
    }
   label:after{
      background:rgb(93, 179, 35);
      

    }
 label.size::after{
   display: none;
 }
    input:checked + label {
      background: #000000ce;
    }
 
  
    .toggle{
      background: rgb(207, 207, 207);
    }
    .dark .nav-elements.active{
      background:#334056;
  
    }

}

.dark #contact input[type="text"],
.dark #contact input[type="email"],
.dark #contact textarea {
background-color:#334056 ;
}
.dark ::placeholder{
  color: rgb(255, 255, 255);

}