input[type=checkbox]{
  height: 0;
  width: 0;
  visibility: hidden;
}

.toggle {
  cursor: pointer;
  text-indent: -9999px;
  width: 30px;
  height: 15px;
  background: rgb(187, 187, 187);
  display: block;
  border-radius: 100px;
  position: absolute;  
  bottom: 3px;
}



label:after {
  content: '';
  position: absolute;
  left: 0px;
  width: 15px;
  height: 15px;
  background: rgb(1, 39, 119);
  border-radius: 90px;
}


input:checked + label {
  background: #1616169c;
}

input:checked + label:after {
  left: calc(100% - 0px);
  transform: translateX(-100%);
  background-color: rgb(6, 122, 21);
}

.dark {

  background: linear-gradient(90deg, rgba(0,4,40,1) 0%, rgba(0,78,146,1) 100%);
}
:root body{
  margin: 0px 0px;
}

.dark .navbar svg{
  color:rgb(6, 122, 21);;
}

 body{
background: linear-gradient(90deg, rgba(225,227,255,1) 0%, rgba(243,249,255,1) 100%);
}

  .dark .colz a{

    color: rgb(255, 255, 255);
    
  }
  .dark .rights p{
    color: white;
  }
  
 .dark .infocard a{
   color: white;
 }
 .dark .container_h h3{
   color: white;
 }
 .dark #contact button[type="submit"]{
   background-color: #368046;
   color: white;

 }
  
@media (max-width: 990px) {
  input:checked {
    display: none;
  }

    input:checked + label:after {
        left: calc(100% - 0px);
    }

 label.size::after{
   display: none;
 }
    input:checked + label {
      background: #000000ce;
    }
 
  
    .toggle{
      background: rgb(207, 207, 207);
    }
    .dark .nav-elements.active{
      background: linear-gradient(90deg, rgba(0,4,40,1) 0%, rgba(0,78,146,1) 100%);
  
    }

}


.dark #contact input[type="text"],
.dark #contact input[type="email"],
.dark #contact textarea {
  background: linear-gradient(90deg, rgb(1, 6, 51) 0%, rgba(0,78,146,1) 100%);
}
.dark ::placeholder{
  color: rgb(255, 255, 255);

}