.html-div{
    width:30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-top: 20px;


}
* {
    box-sizing: border-box;
}



.html2-div {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.html2-2component{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    gap: 40px;
    
}
.html-div
.profile-container
{
    display: block;
   
}

.main-html-div{
    height: 90vh;
    display: flex;


}
       .AboutMe-Info{
            width: 80%;
    
          }

@media screen and (max-width:990px) {

    .main-html-div{
        display: flex;
        flex-direction: column;
    }
    .html-div{
        background-color: rgba(144, 205, 241, 0.829);
        padding-bottom: 10px;
  
        width:100%;
        margin: 0 auto;
        display: flex;
    }
    .html2-div{
        margin-top: 30px;
     
        width: 100%;
        gap: 30px;
    }
    
    .html-div .profile-container{
        display: none;
    }
 
    .html-div .navbar .container{
        display: block;
        display: flex;
        width: 100%;
        justify-content: space-between;
   
    }
     .html2-div .profile-container{
        display: block;
        margin-bottom: 150px;
        padding-top: 0px;
        

    }

    
} 
@media screen and (max-width:775px) {

    .html2-2component{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
    
    }

}
@media screen and (max-width:1132px) {




    .html2-2component{
       
        width: 90%;
        
        
    }
}         

@media screen and (max-width:550px) {



    

    .html2-div{
        gap: 40px;
        margin-top: 0px;

        
    }
    .html2-2component{
       
        width: 98%;
        font-size: 16px;
        
        
    }
}         
@media screen and (max-width:1220px) {

    .html-div
    {
        padding-top: 20px;
  
        justify-content: unset;
    
       
    
    }


} 