.nav{
    height: 250px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 3px;
    display: flex;
    background-color: #fff;
    gap: 10px;
    

    
}
.skills_main{
  width: 40%;

}
.button-17{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
 .button-17:focus{
    background-color: rgb(255, 255, 255);
    border-top: 2px rgb(134, 206, 140) solid;
    border-bottom: 2px rgb(134, 206, 140) solid;


}
.card_active p{
    font-size: 22px;
    margin-top: 80px;
}


.nav_buttons {

    display: flex;
    flex-direction: column;

}

.nav_buttons svg{
    color: rgb(92, 170, 147);
}


.card_active {
margin-top: 28px;

}


.card_active svg{
    color: rgb(33, 112, 63);
    position: relative;
    top: 2px;
    

}
.card_active .skillmap  {
    padding-top: 2px;
    text-align: left;

}




.nav_buttons button{
    background:#d8d8d8;
    color:rgb(0, 0, 0);
    border:none;
    position:relative;
    height:90px;
    font-size:20px;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
    margin-top: 1px;
    width: 100%;
  }
  .nav_buttons button:hover{
    background:#fff;
    color:rgb(102, 36, 39);
  }
  .nav_buttons button:before,button:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: rgb(240, 104, 111);
    transition:400ms ease all;
  }
  .nav_buttons button:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  .nav_buttons button:hover:before,button:hover:after{
    width:100%;
    transition:800ms ease all;
  }
  @media screen and (max-width:990px){

  
    .nav_buttons button{
    
        font-size:20px;
      
      }
      .nav_buttons {
        width: unset;
      
        
    }
  
    .skills{
        display: block;
    
        
        
        
    }
    .skills_main{
      width: 50%;
    
    }
    .nav{
   
      width: unset;
      
  }
 
  }


  @media screen and (max-width:775px) {

    .skills_main{
      width: 100%;
    
    
    }


}
@media screen and (max-width:1400px){
  .skills_main{
    width: 100%;
  
  
  }

}
@media screen and (max-width:550px){

  .nav_buttons button{
 
    font-size:18px;
   
  }
  .nav_active{
    margin: 0px;
  }
  

}


  @media screen and (max-width:300px){
.nav{
  display: flex;
}
    .card_active   {
      font-size: 12px;
    
      
  
  }
  .nav_buttons button{
 
    font-size:14px;
   
  }
  .card_active {
    margin-left: 20px;
    
    
    
    }
  
  }
  @media screen and (max-width:1015px){

    .nav_buttons button{

    width: 120%;     
    }

    .card_active {
 
width: 100%;  
margin-left: 40px;

}

  }