.colz {
  display: flex;
  gap: 1rem;
  flex-direction: row;
}
.colz a {
  box-shadow:
    rgba(0, 0, 0, 0.16) 0px 3px 6px,
    rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 0.4rem;
  padding: 0.2rem;
}
.colz a:hover {
  background-color: rgba(218, 49, 49, 0.173);
}
