

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

*{
box-sizing:border-box ;
}


.pic_info{
  display: flex;
  justify-content: space-evenly;
}




@keyframes backgroundAnimation{

	0%{background-position: left center;}
	50%{background-position: right center;}
	100%{background-position: right center;}

}

.contact_div{
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 990px){
  .main_div  {
width: 100%;  
  
  }

    
  }




















